@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark * ));

@theme {
  --color-primary-text: oklch(5% 0.034 264.665);
  --color-secondary-text: oklch(98.5% 0.002 247.839);

  --color-primary-bg: oklch(96.2% 0.018 272.314);
  --color-secondary-bg: oklch(58.5% 0.233 277.117);

  --color-btn-primary: oklch(72.3% 0.219 149.579);

  --color-item-bg: oklch(87% 0.065 274.039);
  --color-item-active: oklch(58.5% 0.233 277.117);
  --color-item-hover: oklch(78.5% 0.115 274.713);

  --color-modal-primary: oklch(96.2% 0.018 272.314);
  --color-modal-secondary: oklch(87.2% 0.01 258.338);
}

.dark {
  --color-primary-text: oklch(96.7% 0.003 264.542);
  --color-secondary-text: oklch(58.5% 0.233 277.117);
  --color-primary-bg: oklch(21% 0.034 264.665);
  --color-secondary-bg: oklch(27.8% 0.033 256.848);

  --color-btn-primary: oklch(45.7% 0.24 277.023);

  --color-item-bg: oklch(27.8% 0.033 256.848);
  --color-item-active: oklch(31.1% 0.262 276.966);
  --color-item-hover: oklch(44.6% 0.03 256.802);

  --color-modal-primary: oklch(27.8% 0.033 256.848);
  --color-modal-secondary: oklch(21% 0.034 264.665);
}
