@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark * ));

:root {
  --color-primary-900: #0c0c19;
  --color-primary-800: #080825;
  --color-primary-700: #1a1a51;
  --color-primary-600: #3c3d75;
  --color-primary-500: #4083e3;
}
